{extend name="commom/main" /}
{block name='content'}
<h2>新闻列表</h2>
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>发布时间</th>
                <th>作者</th>
                <th>来源</th>
                <th>新闻标题</th>
                <th>新闻内容</th>
                <th>图片</th>
                <th>轮播显示</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
          {volist name="newslist" id="vo" empty="暂时没有数据"}
            <tr>
                <td>{$vo.push_time}</td>
                <td>{$vo.author}</td>
                <td>{$vo.source}</td>
                <td>{$vo.title}</td>
                <td><div class="ellipsis" style="max-width: 150px;">{$vo.content}</div></td>
                <td>{$vo.img}</td>
                <td>
                    {$vo.carousel== 1 ? "显示" : "隐藏"}
                </td>
                <td>
                    <a href="{:url('admin/news/editnews?id'.'='.$vo.id)}" class="btn btn-secondary btn-sm">查看编辑</a>
                    <!--<a href="#" class="btn btn-primary btn-sm">查看</a>-->
                </td>
            </tr>
          {/volist}
        </tbody>
    </table>
    <div class="clearfix">
        {$page}
    </div>
</div>
<script>
    $(function(){

    })
</script>
{/block}

