body {
    padding-top: 58px;
    font-family: "微软雅黑";
}
.hong-navbar{
    background-color: #6cbc35;
}
.hong-navbar .navbar-brand{color: #fff}
.hong-navbar .navbar-nav .nav-link{
    color: #fff;
    border-bottom: 2px solid transparent;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.hong-navbar .navbar-nav .nav-link:hover{
    border-bottom-color:  #fff;
}
.hong-navbar .navbar-nav .active>.nav-link{
    border-bottom-color:  #fff;
    color: #fff
}
.banner{
    background: url(../images/6.jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 750px;
    position: relative;
}
.banner .search-info{
    padding-top: 20rem;
}
.banner .search-box{
    padding: 1em 1em;
    background-color:#2a2b2a;
    color: #fff;
}