<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>后台管理系统</title>
    <link href="__EXTEND__/bootstrap4/css/bootstrap.css" rel="stylesheet">
    <link href="__CSS__/dashboard.css" rel="stylesheet">
    <script src="__JS__/jquery-3.1.1.min.js"></script>
</head>
{block name="bodyTag"}
<body>
    {block name="body"}{/block}
    {block name="script"}{/block}
</body>
{/block}
</html>