<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        {volist name="menu" id="vo"}
            <li>
                <a class="one-menu" href="javascript:;">{$vo.title}</a>
                <ul class="sub-ul">
                    {volist name="vo['pid']" id="vi"}
                    <li>
                        <a href="{:url($vi.href)}" class="sub-menu">{$vi.title}</a>
                    </li>
                    {/volist}
                </ul>
            <li>
        {/volist}
    </ul>
</div>
