<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li>
            <a class="one-menu" href="javascript:;">一级菜单</a>
            <ul class="sub-ul">
                <li>
                    <a href="#" class="sub-menu">二级菜单</a>
                </li>
                <li>
                    <a href="#" class="sub-menu">二级菜单</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="one-menu" href="javascript:;">一级菜单2</a>
            <ul class="sub-ul">
                <li>
                    <a href="#" class="sub-menu">二级菜单2</a>
                </li>
                <li>
                    <a href="#" class="sub-menu">二级菜单2</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
