<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
    <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation"></button>
    <a class="navbar-brand" href="#">后台管理系统</a>
    <div id="navbar">
        <nav class="nav navbar-nav float-xs-left">
            <a class="nav-item nav-link" href="{:url('admin/index/index')}">主页</a>
            <a class="nav-item nav-link" href="#">设置</a>
            <a class="nav-item nav-link" href="javascript:;" style="padding-left: 20px;color: #fff">欢迎您：{$Think.session.ext_user['admin_name']}</a>
            <a class="nav-item nav-link" href="{:url('admin/index/logout')}">退出登录</a>
            <a class="nav-item nav-link" href="{:url('admin/index/changepsw')}">修改密码</a>
        </nav>
        <!--<form class="float-xs-right">
            <input type="text" class="form-control" placeholder="搜索">
        </form>-->
    </div>
</nav>