<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>后台登录</title>
    <link href="__EXTEND__/bootstrap4/css/bootstrap.css" rel="stylesheet">
    <link href="__CSS__/dashboard.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <form class="form-signin">
        <h2 class="form-signin-heading">欢迎登录</h2>
        <label for="user-name" class="sr-only">账号：</label>
        <input type="text" id="user-name" name="user-name" class="form-control" placeholder="请输入账号" required autofocus>
        <label for="password" class="sr-only">密码：</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="请输入密码" required >
        <div class="captcha-box">
          <label for="captcha" class="sr-only">验证码：</label>
          <input type="text" id="captcha" name="captcha" class="form-control" placeholder="验证码" required>
          <img src="{:captcha_src()}" id="captcha-img" alt="captcha" onclick="this.src='{:captcha_src()}'"/>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> 记住账号
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>
    </div>

  </body>
</html>
